<html class="">

<head>
<style>
    *{font-family:'Open Sans',sans-serif;}
    ul li{font-size:2rem;}
    a{text-decoration:none; color:cadetblue}
    a:hover{text-decoration:underline; color:cornflowerblue;}
</style>
</head>
<body>
    <h1>NEW EC3 STYLES LANDING</h1>
    <ul>
    <li><a href="./components/advert.html">Advert</a></li>
    <li><a href="./components/blog.html"">Blog</a></li>
    <li><a href="./components/chat.html"">Chat</a></li>
    <li><a href="./components/email.html"">Email</a></li>
    <li><a href="./components/explaining.html"">Explaining</a></li>
    <li><a href="./components/flier.html"">Flier</a></li>
    <li><a href="./components/journal.html"">Journal</a></li>
    <li><a href="./components/letter.html"">Letter</a></li>
    <li><a href="./components/podcast.html"">Podcast</a></li>
    <li><a href="./components/recipe.html"">Recipe</a></li>
    <li><a href="./components/schedule.html"">Schedule</a></li>
    <li><a href="./components/survey.html"">Survey</a></li>
    <li><a href="./components/voicemail.html"">Voicemail</a></li></ul>
</body>
</html>
