<html class="">

<head>
<style>
    *{font-family:'Open Sans',sans-serif;}
    ul li{font-size:2rem;}
    a{text-decoration:none; color:cadetblue}
    a:hover{text-decoration:underline; color:cornflowerblue;}
</style>
</head>
<body>
    <h1>NEW EC3 STYLES LANDING</h1>
    <ul>
    <li><a href="./advert.html">Advert</a></li>
    <li><a href="./blog.html"">Blog</a></li>
    <li><a href="./chat.html"">Chat</a></li>
    <li><a href="./email.html"">Email</a></li>
    <li><a href="./explaining.html"">Explaining</a></li>
    <li><a href="./flier.html"">Flier</a></li>
    <li><a href="./journal.html"">Journal</a></li>
    <li><a href="./letter.html"">Letter</a></li>
    <li><a href="./podcast.html"">Podcast</a></li>
    <li><a href="./recipe.html"">Recipe</a></li>
    <li><a href="./schedule.html"">Schedule</a></li>
    <li><a href="./survey.html"">Survey</a></li>
    <li><a href="./voicemail.html"">Voicemail</a></li></ul>
</body>
</html>
