<html class="">

<head>
<style>
.container{max-width:800px;margin:0 auto;}
    .journal{border-bottom:3px solid #bcbcbc;border-top:3px solid #bcbcbc; font-family:'Open Sans';}
    .journal-header{text-align:center;}
    .journal-header p{text-align:left; font-size:12pt;}
    .journal-header h3{color:white;background:#6d6d6d; font-size:22pt;padding:5px;margin:0;}
    .journal-header h4{ margin:0;padding:5px;}
    .journal-entry{padding-left:30px; font-size:11pt;font-weight:100;}


</style>
</head>
<body>
<div class="container">
    <div class="journal">

        <div class="journal-header">
            <p>Annette is from Australia. She took a trip to India to give service and to learn about people’s lives there. After she came home, she wrote down some of her thoughts about her trip in a journal. You will read one excerpt from one of Annette’s journal entries. Reflections from India</p>
            <h3>Journal</h3>
            <h4>12/18/17</h4>
            <img src="http://via.placeholder.com/800x200" />
        </div>
        <div class="journal-body">
            <p>During my volunteer trip, my team and I met a woman named Gopi Bi.</p>
            <div class="journal-entry">
                <p>
                    As we approached Gopi Bi's home, I saw an older-looking woman in the front. “Who is this?” I thought to myself. “Surely it can’t be Gopi Bi. Perhaps her mother? An older sister?” But no - this was Gopi Bi herself. Only 45 years old, the harshness of her life had aged her significantly. We came to talk with her and accompany her as she went about her daily chores.
                </p>
                <p>
                    Her first chore was to fetch water. Five times a day she does this. And although the trip wasn't too far that day, she explained that when the community well dries up in the summer, she walks 5 km one way for this water. That's 50 km of walking. Per day. For water.
                </p>
                <p>
                    She also prepared food for her family. I helped her prepare the food - ciabatta bread. This is bread made from nothing more than flour and water. She said that on better days, they also have potatoes and naan bread. She and her family have two meals per day.
                </p>
                <p>
                    Later we went outside to do some repairs of her home. The walls are made from dirt, sticks, and cow dung. There are many leaks when it rains. After she had taught us to do it, we helped her patch up a few cracks. When she can, Gopi Bi also takes on additional work (beyond the running of her own household). She is paid less than 2.30 U.S. dollars per day for this extra work.
                </p>
                <p>
                    Gopi Bi showed incredible resilience. She openly discussed with us her life's high points and the challenging times. Although she is completely illiterate, she recognizes the importance of education. She does all she can to keep her youngest daughter in school. She cherishes the few moments when she can talk with the other women in her village. She also greatly enjoys festival days, which is when she can travel with her husband to see her family of origin.
                </p>
            </div>
            <p>My experience with Gopi Bi was just one day. But I hope I never forget her.</p>
        </div>
    </div>
</div>
</body>
</html>
