<html class="">

<head>
<style>
.container{width:800px;margin:0 auto;}
    .podcast{border-bottom:3px solid #bcbcbc;border-top:3px solid #bcbcbc; font-family:'Open Sans'}
    .podcast-body {padding:0px 30px; font-size:11pt; font-weight:100;}
    .podcast-header{position:relative; align-items:center;padding:15px;}
    .podcast-header img{width:100%;}
    .podcast-header h3{ font-family:'Open Sans'; position:absolute; bottom:0; right:45px; color:white; font-size:19pt;}


</style>
</head>
<body>
    <div class="container">
        <div class="podcast">

            <div class="podcast-header">
                <img src="http://via.placeholder.com/800x200">
                <h3>Podcast</h3>
            </div>
            <div class="podcast-body">
                <p> Hi listeners. Welcome to Nomad Jake’s podcast. Today I’m going to talk about how to save money while on vacation. When you go on a trip, you want to get as much out of your vacation as you can while spending as little money as possible. To make your dollars stretch, I have compiled a list of tips for your next trip.
                </p>
                <p>
                    To start off, driving yourself is often too expensive, so take public transportation and share rides. A private ride from the airport can be comfortable, but it can be costly. You should consider taking public transportation like the bus or a train. If public transportation is too confusing, try to find another person to split the cost of a taxi. And, don’t forget to walk as much as you can.
                </p>
                <p>
                    Second, don’t eat near major tourist sites. Famous tourist attractions will usually have expensive eateries. Similar to eating at the airport or sporting venues, the food at tourist attractions is overpriced. One way to tell if you are getting a bad deal is if the menu is in multiple languages.
                </p>
                <p>
                    Another way of knowing is if the restaurant has many international locations. Save your money and enjoy the local culture by searching for places that the locals love. If locals frequently eat at a place, then that restaurant is usually reasonably priced and has excellent quality. I personally prefer authentic local cuisine because it is usually fresh.
                </p>
                <p>
                    Another suggestion is don’t be too cheap because you’ll pay for it. There are some conveniences that are worth a little extra money to save time or unnecessary effort. Walking is a great way to save money, but walking too much can waste time. For example, I suggest you spend the extra $5 - $10 to get a short taxi ride from one attraction to another, so that you can see more in one day before closing time. Spend that extra $50–100 on a flight if it is going to save you a day in travel time. Time is just as valuable as your budget. You don’t want to waste your money, but don’t waste your time either.
                </p>
                <p>

                    My last tip is to choose free activities. Although I just recommended you spend some additional money to save time, saving money is the main priority. The best way to save money is to enjoy free activities. Many festivals, fairs, parades and other cultural celebrations are free if you happen to go at the right time of year. Some other free activities include parks, beaches and shopping centers. Additionally, some museums, historical landmarks, and other famous attractions have days with free admission.
                </p>
                <p>
                    If you follow these tips, I assure you that you will have a better vacation. It’s important to plan well enough so that you can take advantage of the many unique attractions at each destination. I’ve spent too much on a trip before because of poor planning. You don’t want to spend hard earned money and then get to your destination and feel like you can’t afford it.

                </p>
            </div>
        </div>


    </div>
</body>
</html>
