<html class="">

<head>
<style>
.container{max-width:800px;margin:0 auto;}
    .schedule{border-bottom:3px solid #bcbcbc;border-top:3px solid #bcbcbc; font-family:'Open Sans';}
    .schedule > p{padding:0px 15px;}
    .schedule-body{font-size:12pt; border-bottom:3px dashed #bcbcbc; border-top:3px dashed #bcbcbc;padding:0px 30px;}
    .schedule-body h3{font-size:19pt; color:#6d6d6d;}
    .schedule-body p{color:#5d5d5d;size:11pt;}

</style>
</head>
<body>
    <div class="container">
        <div class="schedule">
            <p>Imagine you are a student at BYU-Hawaii. Your major is chemistry. You want
to be a doctor someday. Your hobbies include reading, surfing, singing, and
watching movies. You are really good at surfing, and you like action movies,
scary movies, and funny movies, but you do not like westerns (movies about
cowboys and life in America in the 1800’s).</p>

            <div class="schedule-body">
               <h3>Daily Schedule - Thursday</h3>
                <p><strong><em>6:00 a.m.</em></strong></p>
                <p>wake up and excercise</p>
                <p><strong><em>8:00 a.m. - 9:00 a.m.</em></strong></p>
                <p>Biology 101 - Mckay Building #153</p>
                <p><strong><em>9:00 a.m. - 11:00 a.m.</em></strong></p>
                <p>study in the library</p>
                <p><strong><em>2:00 p.m. - 3:00 p.m. </em></strong></p>
                <p>Chemistry 110 - McKay Building #136</p>
                <p><strong><em>3:00 p.m. - 7:30 p.m.</em></strong></p>
                <p>work at the library</p>
            </div>
            <p>Your friend, Foster [China], calls you at 7:00 in the morning. You answer the
phone with “Hello?”</p>
        </div>
    </div>
</body>
</html>
